apiVersion: v1
kind: ConfigMap
metadata:
  name: prosody-custom-config
  namespace: liveclasses
data:
  streaming-stg.talentos.darey.io.cfg.lua: |
    VirtualHost "streaming-stg.talentos.darey.io"
      authentication = "anonymous"
      c2s_require_encryption = false
