apiVersion: v1
kind: ConfigMap
metadata:
  name: jvb-config
  namespace: liveclasses
data:
  jvb.conf: |
    videobridge {
        cc {
            use-vla-target-bitrate = false
            trust-bwe = true
        }
        ice {
            udp {
                port = 10000
            }
            advertise-private-candidates = true
        }
        apis {
            xmpp-client {
                configs {
                    shard0 {
                        HOSTNAME = "prosody.liveclasses.svc.cluster.local"
                        PORT = "5222"
                        DOMAIN = "auth.meet.jitsi"
                        USERNAME = "jvb"
                        PASSWORD = "${JVB_AUTH_PASSWORD}"
                        MUC_JIDS = "jvbbrewery@internal-muc.meet.jitsi"
                        MUC_NICKNAME = "jvb"
                        DISABLE_CERTIFICATE_VERIFICATION = true
                    }
                }
            }
        }
    }
