apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: liveclasses

# ============================================================================
# Liveclasses Streaming Application Kustomization
# ============================================================================
# This file controls which streaming provider (Jitsi or BBB) is deployed.
# 
# To switch providers:
# 1. Update liveclasses-config.yaml (provider, bbb_enabled, jitsi_enabled)
# 2. Add/remove the provider bundle below (bbb or jitsi resources)
# 3. Commit and push - ArgoCD will sync automatically
# ============================================================================

resources:
  # ==========================================================================
  # Shared Resources (always deployed)
  # ==========================================================================
  - namespace.yaml
  - liveclasses-config.yaml
  - liveclasses-recordings-serviceaccount.yaml
  - liveclasses-streaming-ingress.yaml
  
  # ==========================================================================
  # BBB Component Bundle
  # ==========================================================================
  # To ENABLE BBB: Uncomment the line below
  # To DISABLE BBB: Comment out or remove the line below
  # All BBB components are bundled in bbb/kustomization.yaml
  # See BBB_COMPONENTS.md for complete list of included resources
  # ==========================================================================
  # - bbb
  
  # ==========================================================================
  # Jitsi Component Bundle - REMOVED
  # ==========================================================================
  # Jitsi services have been removed to free up resources
  # ==========================================================================

