apiVersion: v1
kind: ConfigMap
metadata:
  name: bbb-bigbluebutton-nginx
  namespace: liveclasses
data:
  bigbluebutton: |
    server {
        listen 0.0.0.0:8185;
        root /var/www/html;
        location / {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_pass http://127.0.0.1:8090;
        }
    }

