apiVersion: v1
kind: Secret
metadata:
  name: thanos-objstore-config
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
stringData:
  thanos.yaml: |
    type: S3
    config:
      bucket: darey-io-v2-lab-prod-thanos-storage
      endpoint: s3.eu-west-2.amazonaws.com
      region: eu-west-2
      sse_config:
        type: SSE-S3

