apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
  namespace: dareyscore
data:
  redis.conf: |
    maxmemory 512mb
    maxmemory-policy allkeys-lru
    appendonly yes
    appendfsync everysec
    save 900 1
    save 300 10
    save 60 10000
