apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-ingress
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    chart: ingress-nginx
    targetRevision: 4.10.1
    helm:
      valuesObject:
        controller:
          replicaCount: 3
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 2000m
              memory: 1Gi
          service:
            type: LoadBalancer
            annotations:
              service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
              service.beta.kubernetes.io/aws-load-balancer-subnets: "subnet-0e0014f930a69b70b,subnet-05954e842c19a4de0"
              service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "60"
              external-dns.alpha.kubernetes.io/hostname: "ingress-blue.talentos.darey.io"
              external-dns.alpha.kubernetes.io/manage: "true"
          ingressClass: nginx
          ingressClassByName: true
          publishService:
            enabled: true
          config:
            keepalive-timeout: "75"
            keepalive-requests: "100"
            upstream-keepalive-connections: "32"
            upstream-keepalive-requests: "100"
            upstream-keepalive-timeout: "60"
            proxy-connect-timeout: "60"
            proxy-send-timeout: "60"
            proxy-read-timeout: "60"
            client-body-buffer-size: "128k"
            proxy-buffering: "on"
            proxy-buffer-size: "4k"
            proxy-buffers: "8 4k"
            gzip: "on"
            gzip-types: "application/json application/javascript application/xml text/css text/javascript text/plain text/xml"
            gzip-min-length: "1000"
            gzip-comp-level: "6"
          metrics:
            enabled: true
            serviceMonitor:
              enabled: false
          podSecurityContext:
            runAsUser: 101
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          containerSecurityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
              add:
                - NET_BIND_SERVICE
            readOnlyRootFilesystem: false
  destination:
    # NOTE: Update this to prod-blue cluster endpoint after cluster is created
    server: https://DA6D72227F1F84B2237A1AB7DF222FD1.gr7.eu-west-2.eks.amazonaws.com
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true

